# Autotools files
/.libs/
/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache/
/chidb
/compile
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/depcomp
/install-sh
/libchidb.la
/libchisql.la
/libsimclist.la
/libtool
/ltmain.sh
/m4/
/missing
/src/libchidb/.deps/
/src/libchidb/.dirstamp
/src/libchidb/.libs/
/src/libchidb/libchidb_la-api.lo
/src/libchidb/libchidb_la-api.o
/src/libchidb/libchidb_la-btree.lo
/src/libchidb/libchidb_la-btree.o
/src/libchidb/libchidb_la-codegen.lo
/src/libchidb/libchidb_la-codegen.o
/src/libchidb/libchidb_la-dbm-cursor.lo
/src/libchidb/libchidb_la-dbm-cursor.o
/src/libchidb/libchidb_la-dbm-file.lo
/src/libchidb/libchidb_la-dbm-file.o
/src/libchidb/libchidb_la-dbm-ops.lo
/src/libchidb/libchidb_la-dbm-ops.o
/src/libchidb/libchidb_la-dbm.lo
/src/libchidb/libchidb_la-dbm.o
/src/libchidb/libchidb_la-log.lo
/src/libchidb/libchidb_la-log.o
/src/libchidb/libchidb_la-optimizer.lo
/src/libchidb/libchidb_la-optimizer.o
/src/libchidb/libchidb_la-pager.lo
/src/libchidb/libchidb_la-pager.o
/src/libchidb/libchidb_la-record.lo
/src/libchidb/libchidb_la-record.o
/src/libchidb/libchidb_la-util.lo
/src/libchidb/libchidb_la-util.o
/src/libchisql/.deps/
/src/libchisql/.dirstamp
/src/libchisql/.libs/
/src/libchisql/libchisql_la-column.lo
/src/libchisql/libchisql_la-column.o
/src/libchisql/libchisql_la-common.lo
/src/libchisql/libchisql_la-common.o
/src/libchisql/libchisql_la-condition.lo
/src/libchisql/libchisql_la-condition.o
/src/libchisql/libchisql_la-create.lo
/src/libchisql/libchisql_la-create.o
/src/libchisql/libchisql_la-delete.lo
/src/libchisql/libchisql_la-delete.o
/src/libchisql/libchisql_la-expression.lo
/src/libchisql/libchisql_la-expression.o
/src/libchisql/libchisql_la-insert.lo
/src/libchisql/libchisql_la-insert.o
/src/libchisql/libchisql_la-literal.lo
/src/libchisql/libchisql_la-literal.o
/src/libchisql/libchisql_la-ra.lo
/src/libchisql/libchisql_la-ra.o
/src/libchisql/libchisql_la-sql-lexer.lo
/src/libchisql/libchisql_la-sql-lexer.o
/src/libchisql/libchisql_la-sql-parser.lo
/src/libchisql/libchisql_la-sql-parser.o
/src/libchisql/libchisql_la-sra.lo
/src/libchisql/libchisql_la-sra.o
/src/libchisql/sql-lexer.c
/src/libchisql/sql-lexer.h
/src/libchisql/sql-parser.c
/src/libchisql/sql-parser.h
/src/shell/.deps/
/src/shell/.dirstamp
/src/shell/commands.o
/src/shell/main.o
/src/shell/shell.o
/src/simclist/.deps/
/src/simclist/.dirstamp
/src/simclist/.libs/
/src/simclist/simclist.lo
/src/simclist/simclist.o
/stamp-h1
/tags
/test-driver
/test-suite.log
/tests/.deps/
/tests/.dirstamp
/tests/.libs/
/tests/check_btree
/tests/check_btree.log
/tests/check_btree.trs
/tests/check_dbm
/tests/check_dbm.log
/tests/check_dbm.trs
/tests/check_dbrecord
/tests/check_dbrecord.log
/tests/check_dbrecord.trs
/tests/check_pager
/tests/check_pager.log
/tests/check_pager.trs
/tests/check_utils
/tests/check_utils.log
/tests/check_utils.trs
/tests/tests_check_btree-check_btree.o
/tests/tests_check_btree-check_btree_1a.o
/tests/tests_check_btree-check_btree_1b.o
/tests/tests_check_btree-check_btree_2.o
/tests/tests_check_btree-check_btree_3.o
/tests/tests_check_btree-check_btree_4.o
/tests/tests_check_btree-check_btree_5.o
/tests/tests_check_btree-check_btree_6.o
/tests/tests_check_btree-check_btree_7.o
/tests/tests_check_btree-check_btree_8.o
/tests/tests_check_btree-check_btree_common.o
/tests/tests_check_btree-check_btree_files.o
/tests/tests_check_btree-check_common.o
/tests/tests_check_dbm-check_common.o
/tests/tests_check_dbm-check_dbm.o
/tests/tests_check_dbrecord-check_dbrecord.o
/tests/tests_check_pager-check_common.o
/tests/tests_check_pager-check_pager.o
/tests/tests_check_utils-check_utils.o

# from https://github.com/github/gitignore/bloc/master/C.gitignore
# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
modules.order
Module.symvers
Mkfile.old
dkms.conf

# From https://github.com/github/gitignore/blob/master/Autotools.gitignore
# http://www.gnu.org/software/automake

Makefile.in
/ar-lib
/mdate-sh
/py-compile
/test-driver
/ylwrap

# http://www.gnu.org/software/autoconf

/autom4te.cache
/autoscan.log
/autoscan-*.log
/aclocal.m4
/compile
/config.guess
/config.h.in
/config.sub
/configure
/configure.scan
/depcomp
/install-sh
/missing
/stamp-h1

# https://www.gnu.org/software/libtool/

/ltmain.sh

# http://www.gnu.org/software/texinfo

/texinfo.tex
